<header>
  <div class="inner">
    <h3 class="masthead-brand">Weather App</h3>
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link active" [routerLink]="['/select-location']">Home</a>
    </nav>
  </div>
</header>
