<h1>Select a location</h1>
<p>
  Please select an option the dropdown menu in order to view the description, current temperature, and wind speed for
  that city.
</p>

<form [formGroup]="form">
  <select
    (change)="onChange($event.target.value)"
    [formControlName]="'city'"
    id="city"
    name="city"
    class="form-control col-10 col-sm-6 mx-auto"
  >
    <option [value]="null">Select city</option>
    <option *ngFor="let i of cities" [value]="i">
      {{ i }}
    </option>
  </select>
</form>
