<footer>
  <div class="inner">
    <p>
      By Omar Mirza -
      <a target="_blank" href="https://bitbucket.org/OmarCreativeDev/hcl-test/"
        >Bitbucket</a
      >.
    </p>
  </div>
</footer>
