<ng-container *ngIf="loading; else showWeather">
  <h1>
    Fetching weather for <i>{{ location }}</i>
  </h1>
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</ng-container>
<ng-template #showWeather>
  <h1>
    Current weather for <i>{{ location }}</i>
  </h1>
  <p><strong>Description:</strong> {{ description }}</p>
  <p><strong>Wind speed:</strong> {{ windSpeed }}</p>
  <p>
    <strong>Temperature:</strong> {{ temperature | number: '1.0-0' }} <span [innerHTML]="selectedUnitOfDisplay"></span>
    <button type="button" class="btn btn-sm btn-secondary ms-3" (click)="toggleUnit()">Toggle Unit</button>
  </p>
</ng-template>
